@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #FB6B6B;
}

/*++++++++++++++++++++++++++++++++++ USERWERLCOMEPAHE ++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.userWelcomePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.userWelcomePage img {
    width: 136px;
    height: 161px;
}

.userWelcomePage p {
    height: 59px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 13px;

}

.userWelcomePage button {
    width: 246px;
    height: 54px;
    
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;

    margin-top: 30px;
    cursor: pointer;
}
/*++++++++++++++++++++++++++++++++++ USERWERLCOMEPAHE ++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*------------------------------------------TOP-------------------------------------------------------------*/
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 58px;
}
.top img {
    width: 52px;
    height: 60px;
    margin-right: 5px;
}

.top p {
    height: 44px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
    margin-left: 5px;
}
/*------------------------------------------TOP-------------------------------------------------------------*/

/*§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ QUESTIONS §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§*/
.motherQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionPosition {
    width: 300px;
    height: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
 
}

.questionPosition p {
    width: 87px;
    height: 19px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    left: 15px;

    color: #333333;
}

.questionPosition ion-icon {
    width: 20px;
    height: 23px;

    color: #333333;
    font-size: 64px;
    position: absolute;
    right: 22px;
    cursor: pointer;
}

.question {
    width: 299px;
    height: 131px;
    
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}

.question p {
    
    height: 22px;
    
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #333333;  
    position: absolute;
    top: 18px;  
    left: 15px;
}

.question img {
    width: 30px;
    height: 20px;

    position: absolute;
    bottom: 6px;
    right: 5px;
    cursor: pointer;
}

.answer {
    width: 299px;
    height: 131px;
    
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}
.answer p {
    height: 44px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}

.answer > div {
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: center;
}

.answerOptions {
    display: flex;
}

.answerOptions div {
    width: 85.17px;
    height: 37.17px;

    background: #FF3030;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answerOptions p {
    height: 37.17px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.answerOptions > :nth-child(1) {
    background-color: #FF3030;
    cursor: pointer;
    
}
.answerOptions > :nth-child(2) {
    background-color: #FF922E;
    cursor: pointer;
}
.answerOptions > :nth-child(3) {
    background-color: #2FBE34;
    cursor: pointer;
}







/*§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ QUESTIONS §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§*/

/*=========================================FOOTER===========================================================*/
.footer {
    position: fixed;
    bottom: 0px;

    width: 100vw;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer p {
    width: 150px;
    height: 22px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}




/*=========================================FOOTER===========================================================*/



.displayNone {
    display: none;
}

